@font-face {
    font-family: "fonteZica";
    src: url(./IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: black;;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

#sectionSobreNos figure { 
    /* @MEDIA PARA FAZER AS IMAGENS MAIORES EM CELULAR */
    border: 2px solid white;
    padding: 2%;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

#sectionSobreNos img {
    width: 25%;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 2%;
}

#sectionNavIndex {
    font-family: "fonteZica";
}

p a:hover {
    text-decoration: underline;
}

.sectionIntroducao a {
    text-decoration: none;
    color: whitesmoke;
}

.sectionIntroducao {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

header h1 {
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-right: 5px groove #FAFAFA;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
}

header h2 {
    text-align: center;
    margin: 50px;
}

body #sectionFooter {
    text-align: center;
}

.bordaZica {
    border-left: 5px solid #FAFAFA;
    padding: 15px;
    text-align: center;
    background-color: rgb(21, 22, 22);
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

.bordaZica li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
    transition: 0.5s ease;
}

.bordaZica li a:hover {
    background-color: rgb(39, 38, 38);
    padding: 20px;
}

.bordaZica ul {
    list-style-type: none;
    display: contents;
}

.footerModelo {
    background-color: rgb(39, 38, 38);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

.footerModelo a {
    text-decoration: none;
    color: #fff1f1;
    transition: 0.5s ease;
}

.footerModelo a:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease;
    padding: 2px;
    border-radius: 5px;
}

.footerModelo li {
    font-style: italic;
}